@import './palette.scss';

html {
  height: 100%;
}

body {
    height: 100%;
    transition: background-color 0.5s ease, color 0.5s ease;
}

a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Убирает синий цвет */
  }
  
  a:hover {
    text-decoration: none; /* Убирает подчеркивание при наведении */
    color: inherit; /* Сохраняет текущий цвет */
  }