.appbar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: static;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    align-items: center;
    gap: 72px;
    padding-right: 50px;
}

.search {
    width: 100%;
    border-radius: 100px;
    border-color: var(--color-light-gray);
}

.searchIcon {
    width: 30px;
    height: 30px;
    color: var(--color-gray);
}

.account__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accountIconButton {
    margin-right: 5px;
}

.accountIconSvg {
    font-size: 48px;
}

.themeButton {
    margin-left: 40px;
}